.plot-container {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    min-height:58.5vh;
    align-items: center;
    justify-content: center;
   // margin-left: auto;
    margin-right: auto;
    margin-left: 7.75vw;
    align-self: center;
  //  padding-top: 2em;
    //margin-bottom: 2.25em;
    border: 1px solid #202020;
    background-color: #1a1a1a;
    border-radius: 20px;
}
.plot-title-text {
    font-size:clamp(20px, 4vw, 38px);
    color:#eee;
    font-family: 'Inter';
    font-weight: 800;
    letter-spacing: -0.5px;
  }
.plot-content-text {
    font-family: "Rubik";
    color: #bbb;
    font-weight: 400;
    line-height: 19px;
    font-size: clamp(6px, 4em, 14px);
}
.plot-header-text {
    font-family: "Rubik";
    color: #eee;
    font-weight: 500;
    letter-spacing: -0.25px;
    font-size: clamp(8px, 4vw, 18px);
}
.legend-container {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
  //  padding: 0;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    gap:.5em;
    padding-left: 1em;

    margin-bottom: .5em;
    margin-left: auto;
    margin-right: auto;
}